<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="1.0.0-SNAPSHOT"
          package="org.medimob.orm">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="17"/>

    <application>

        <meta-data android:name="orm.dbName" android:value="test.db"/>
        <meta-data android:name="orm.dbVersion" android:value="1"/>


    </application>
</manifest>